In [ ]:
# Number
no1= 20  # Integer
no2 = 2.5 # float

# String 
str1= 'A' #character
str2 = "this is a line" # single line string
str3 = """ 
Hi Ali,
this is a multiline string
"""
# complex
comp = 2+7j
# boolean
b = True
# list
nos = [20,22,21,34]
# tuple
tup = (20,21,22,33)
# dict
dic = {"no1":21,"no2":23,"no3":24,"no4":20}
# set
set1={20,22,21,23}

In [1]:
# TypeCasting

no1="23"
# type checking
print(type(no1))
no1 = int("23")
print(type(no1))

<class 'str'>
<class 'int'>

In [2]:
no2= 2.5
no2 = int(no2)
type(no2)

int

# float() => to float
# bool() => to boolean
# complex() => to complex
# str() => to string
# ord() => charcter to ASCII 
# list() => to list
# tuple() => to tuple
# dict() => to dictionary
# set() => to set

In [5]:
# <!-- User defined input -->
no1 = int(input("Enter a no"))
print(no1)
print(type(no1))

23
<class 'int'>

In [1]:
no2 = float(input("Enter a number"))
print(no2)

23.0

In [2]:
no3 = complex(input("Enter a number"))
print(no3)

(23+0j)

In [3]:

nos= list(input("Enter numbers"))
print(nos)

['1', '2']

In [4]:
nos = input("enter numbers").split(",")
print(nos)

['11', '12', '13', '14']

In [5]:
nos = tuple(input("Enter number ").split(","))
print(nos)

('11', '12', '13', '14')

In [6]:
nos = set(input("Enter number ").split(","))
print(nos)

{'12', '13', '11', '14'}

In [7]:
no1 = int(input("Enter A number"))
no2 = int(input("Enter Second number"))
Sum = no1 + no2
print(Sum)

21

In [2]:
# Area Calculator  of Circle
pi= 22/7
rad = float(input("Enter Radius"))
area = pi * rad ** 2
print("Area of Circle = ",area)

Area of Circle =  154.0

In [4]:
# Area of Reactangle 
l = float(input("enter length"))
b = float(input("Enter Breadth"))
area = l * b
print(f"Area of Reactangle of length {l} meter and breadth {b} meter")
print("Area  = ", area)

Area of Reactangle of length 30.0 meter and breadth 20.0 meter
Area  =  600.0

In [7]:
# Square Root 
sq = int(input("Enter  Value for which you want to calculate sqroot"))
sqroot = sq ** (1/2)
print(f"Square root of {sq}")
print(round(sqroot,2))

Square root of 8
2.83

In [9]:
no1 = int(input("Enter no1"))
no2 = int(input("Enter no2"))
no3 = int(input("Enter no3"))
no4 = int(input("Enter no4"))

Sum = no1 + no2 + no3 + no4
mean = Sum / 4
print(mean)

18.0

In [1]:
test_acc= 0.983000925
print(round((test_acc * 100),0))

98.0

In [2]:
i=1
print(chr(i+64))

A

# Operators 

## Airthmatical operators/ Mathematical Operators
+  (+) -> Addition
+  (-) -> Substraction
+  (*) -> Multiply
+  (/) -> Floating divide
+  (//) -> Integer Division / Floor Division
+  (**) -> Power / Exponential
+  (%)  -> reminder / Modulus 

## Comparision / Conditional Operators
+  (>) -> Greater than
+  (<) -> Less than
+  (>=) -> Greater than or Equal to
+  (<=) -> Less than or Eqaul to
+  (==) -> Eqaul to 
+  (!=) -> Not Equal

## Logical operators
+  and  ->  to combine result of two or more conditon
+  or   ->  to select one or all  of two or more condition

## MemberShip Operators
+ in -> check member ship in multi object type 
+ not in -> check member ship in multi object type

## Identity operator
+ is -> Equal to 
+ is not -> not equal to


# BitWise operators
+   ~ -> Bitwise Not
+   & -> Bitwise and
+   |  -> Bitwise or

In [3]:
# public class postive{
#     public static  void  main(String[] arg){
#             int a =7;
#             if( a> 0){
#                 System.out.println("postive");
#             }
#             else{ 
#                 System.out.println("Negative");
#             }
#     }
#  }

# postive No :
#     A positive is 

# Negative  :
#     A negative
no = int(input("Enter a Number"))
if no > 0 :
    print("postive no")
else :
    print("negative no")

negative no

In [4]:
no = int(input("Enter a Number"))

if no % 2 == 0:  
    print("Even")
else :
    print("odd")

odd

In [5]:
unit = int(input("Enter Unit "))
bill = 0

if unit <=100 :
    bill =0
elif unit > 100  and unit <=200 :
    bill = 0 + 5 * (unit -100)
else:
    bill = 0 + 500 + 10 * (unit -200)


print("Bill = ", bill)

Bill =  2000

In [6]:
no = int(input("Enter a no"))
last = no % 10
print(last)

7

In [11]:
year = int(input("Enter Year"))
if (year % 100 ==0 and year % 400 ==0) or year % 4 ==0 :
    print("Leap year")

else: 
    print(" Not a leap year")

 Not a leap year

In [3]:
n =5 
row = range(1,n+1)
for i in row:
    for col in range(i,2*i):
        print(chr(col+64),end=" ")
    print()

A
B C
C D E
D E F G
E F G H I

In [5]:
n =5 
row = range(1,n+1)
for i in row:
    for col in range(n-i+1,0,-1):
        print(col,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [6]:
n =5 

for i in range(1,n+1):
    for col in range(n-i+1,0,-1):
        print(col,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [7]:
n =5 

for i in range(1,n+1):
    for col in range(n-i+1,2*(n-i+1)):
        print(col,end=" ")
    print()

5 6 7 8 9
4 5 6 7
3 4 5
2 3
1

In [8]:
n =5 

for i in range(1,n+1):
    for col in range(i,n+1):
        print(col,end=" ")
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [9]:
n =5 

for i in range(1,n+1):
    for col in range(n-i+1,n+1):
        print(col,end=" ")
    print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [12]:
n =5 

for i in range(1,n+1):
    for col in range(n,n-i,-1):
        print(col,end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [13]:
n =5 

for i in range(1,n+1):
    for col in range(n,i-1,-1):
        print(col,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [15]:
n =9
 

for i in range(1,n+1):
    for col in range(1,2*i):
        print(col,end=" ")
    print()

1
1 2 3
1 2 3 4 5
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12 13
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17

In [20]:
n=5
no=1
for i in range(1,n+1):
    for col in range(1,i+1):
        print(no,end=" ")
        no +=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [21]:
n=5
no=1
for i in range(1,n+1):
    for col in range(1,i+1):
       if i % 2 ==0:
           print(0,end=" ")
       else:
           print(1,end=" ")
    print()

1
0 0
1 1 1
0 0 0 0
1 1 1 1 1

In [24]:
n =5 

for i in range(1,n+1):
    for col in range(1,n+1):
        if i==1 or i==n or col==1 or col==n:
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [25]:
n =5 

for i in range(1,n+1):
    for col in range(1,n+1):
        if i==1 or i==n or col==1 :
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

* * * * *
*
*
*
* * * * *

In [26]:

for i in range(1,n+1):
    for col in range(1,n+1):
        if   i==n or col==1 or col==n:
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

*       *
*       *
*       *
*       *
* * * * *

In [27]:

for i in range(1,n+1):
    for col in range(1,n+1):
        if  i==1 or  i==n  or col==n:
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

* * * * *
        *
        *
        *
* * * * *

In [30]:

for i in range(1,n+1):
    for col in range(1,n+1):
        if   i==1 or col==1 or col==n or i == n//2+1:
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

* * * * *
*       *
* * * * *
*       *
*       *