In [ ]:
# Number
no1= 20  # Integer
no2 = 2.5 # float

# String 
str1= 'A' #character
str2 = "this is a line" # single line string
str3 = """ 
Hi Ali,
this is a multiline string
"""
# complex
comp = 2+7j   # a + ib -> a- real  b- img # vector - xi+yj+zk
# boolean
b = True
isPrime = True
# list
nos = [20,22,21,34]
# tuple
tup = (20,21,22,33)
# dict
dic = {"no1":21,"no2":23,"no3":24,"no4":20}
# set
set1={20,22,21,23}

In [ ]:
# TypeCasting

no1="23"
# type checking
print(type(no1))
no1 = int("23")
print(type(no1))

In [ ]:
no2= 2.5
no2 = int(no2)
type(no2)

# float() => to float
# bool() => to boolean
# complex() => to complex
# str() => to string
# ord() => charcter to ASCII 
# list() => to list
# tuple() => to tuple
# dict() => to dictionary
# set() => to set

In [ ]:
# <!-- User defined input -->
no1 = int(input("Enter a no"))
print(no1)
print(type(no1))

In [ ]:
no2 = float(input("Enter a number"))
print(no2)

In [12]:
no3 = complex(input("Enter a number"))
print(no3)

(20+0j)

In [ ]:

nos= list(input("Enter numbers"))
print(nos)

In [ ]:
nos = input("enter numbers").split(",")
print(nos)

In [ ]:
nos = tuple(input("Enter number ").split(","))
print(nos)

In [ ]:
nos = set(input("Enter number ").split(","))
print(nos)

In [ ]:
no1 = int(input("Enter A number"))
no2 = int(input("Enter Second number"))
Sum = no1 + no2
print(Sum)

In [ ]:
# Area Calculator  of Circle
pi= 22/7
rad = float(input("Enter Radius"))
area = pi * rad ** 2
print("Area of Circle = ",area)

In [ ]:
# Area of Reactangle 
l = float(input("enter length"))
b = float(input("Enter Breadth"))
area = l * b
print(f"Area of Reactangle of length {l} meter and breadth {b} meter")
print("Area  = ", area)

In [ ]:
# Square Root 
sq = int(input("Enter  Value for which you want to calculate sqroot"))
sqroot = sq ** (1/2)
print(f"Square root of {sq}")
print(round(sqroot,2))

In [ ]:
no1 = int(input("Enter no1"))
no2 = int(input("Enter no2"))
no3 = int(input("Enter no3"))
no4 = int(input("Enter no4"))

Sum = no1 + no2 + no3 + no4
mean = Sum / 4
print(mean)

In [ ]:
test_acc= 0.983000925
print(round((test_acc * 100),0))

In [ ]:
i=1
print(chr(i+64))

# Operators 

## Airthmatical operators/ Mathematical Operators
+  (+) -> Addition
+  (-) -> Substraction
+  (*) -> Multiply
+  (/) -> Floating divide
+  (//) -> Integer Division / Floor Division
+  (**) -> Power / Exponential
+  (%)  -> reminder / Modulus 

## Comparision / Conditional Operators
+  (>) -> Greater than
+  (<) -> Less than
+  (>=) -> Greater than or Equal to
+  (<=) -> Less than or Eqaul to
+  (==) -> Eqaul to 
+  (!=) -> Not Equal

## Logical operators
+  and  ->  to combine result of two or more conditon
+  or   ->  to select one or all  of two or more condition

## MemberShip Operators
+ in -> check member ship in multi object type 
+ not in -> check member ship in multi object type

## Identity operator
+ is -> Equal to 
+ is not -> not equal to


# BitWise operators
+   ~ -> Bitwise Not
+   & -> Bitwise and
+   |  -> Bitwise or

In [ ]:
# public class postive{
#     public static  void  main(String[] arg){
#             int a =7;
#             if( a> 0){
#                 System.out.println("postive");
#             }
#             else{ 
#                 System.out.println("Negative");
#             }
#     }
#  }

# postive No :
#     A positive is 

# Negative  :
#     A negative
no = int(input("Enter a Number"))
if no > 0 :
    print("postive no")
else :
    print("negative no")

In [ ]:
no = int(input("Enter a Number"))

if no % 2 == 0:  
    print("Even")
else :
    print("odd")

In [ ]:
unit = int(input("Enter Unit "))
bill = 0

if unit <=100 :
    bill =0
elif unit > 100  and unit <=200 :
    bill = 0 + 5 * (unit -100)
else:
    bill = 0 + 500 + 10 * (unit -200)


print("Bill = ", bill)

In [ ]:
no = int(input("Enter a no"))
last = no % 10
print(last)

In [ ]:
year = int(input("Enter Year"))
if (year % 100 ==0 and year % 400 ==0) or year % 4 ==0 :
    print("Leap year")

else: 
    print(" Not a leap year")

In [ ]:
n =5 
row = range(1,n+1)
for i in row:
    for col in range(i,2*i):
        print(chr(col+64),end=" ")
    print()

In [ ]:
n =5 
row = range(1,n+1)
for i in row:
    for col in range(n-i+1,0,-1):
        print(col,end=" ")
    print()

In [ ]:
n =5 

for i in range(1,n+1):
    for col in range(n-i+1,0,-1):
        print(col,end=" ")
    print()

In [ ]:
n =5 

for i in range(1,n+1):
    for col in range(n-i+1,2*(n-i+1)):
        print(col,end=" ")
    print()

In [ ]:
n =5 

for i in range(1,n+1):
    for col in range(i,n+1):
        print(col,end=" ")
    print()

In [ ]:
n =5 

for i in range(1,n+1):
    for col in range(n-i+1,n+1):
        print(col,end=" ")
    print()

In [ ]:
n =5 

for i in range(1,n+1):
    for col in range(n,n-i,-1):
        print(col,end=" ")
    print()

In [ ]:
n =5 

for i in range(1,n+1):
    for col in range(n,i-1,-1):
        print(col,end=" ")
    print()

In [ ]:
n =9
 

for i in range(1,n+1):
    for col in range(1,2*i):
        print(col,end=" ")
    print()

In [ ]:
n=5
no=1
for i in range(1,n+1):
    for col in range(1,i+1):
        print(no,end=" ")
        no +=1
    print()

In [ ]:
n=5
no=1
for i in range(1,n+1):
    for col in range(1,i+1):
       if i % 2 ==0:
           print(0,end=" ")
       else:
           print(1,end=" ")
    print()

In [ ]:
n =5 

for i in range(1,n+1):
    for col in range(1,n+1):
        if i==1 or i==n or col==1 or col==n:
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

In [ ]:
n =5 

for i in range(1,n+1):
    for col in range(1,n+1):
        if i==1 or i==n or col==1 :
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

In [ ]:

for i in range(1,n+1):
    for col in range(1,n+1):
        if   i==n or col==1 or col==n:
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

In [ ]:

for i in range(1,n+1):
    for col in range(1,n+1):
        if  i==1 or  i==n  or col==n:
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

In [ ]:

for i in range(1,n+1):
    for col in range(1,n+1):
        if   i==1 or col==1 or col==n or i == n//2+1:
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

In [ ]:
x = range(11)
print(x)

In [ ]:
x= range(2,20,2)
print(x)

In [ ]:
no1 = int(input("enter no 1"))
no2 = int(input("enter no 2"))
x = range(no1,no2+1)
for everyno in x:
    print(everyno)

In [ ]:
#  from 1 to 10 print square of each no
x= range(1,11)
for i in x:
    print(i**2)

In [ ]:
# for user input print table of given no
no1 = int(input("Enter no"))
for i in range(no1,(10*no1)+1,no1):
    print(i)

In [ ]:
no1 = int(input("Enter no"))
x= range(1,11)
for i in x:
    print(f"{no1} x {i} = {no1 * i}")

In [2]:
n = int(input("Enter total no"))
for i in range(2,2*n+1,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [2]:
n =5 

for i in range(1,n+1):
    for col in range(1,n+1):
        if i==1 or i==n or col==1 or col==n:
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

for i in range(1,n+1):
    for col in range(1,n+1):
        if  col==1 :
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *
*
*
*
*
*

In [3]:
n =5 

for i in range(1,n+1):
    for col in range(1,n+1):
        if i==1 or i==n or col==1 or col==n:
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

for i in range(1,n+1):
    for col in range(1,n+1):
        if  col==1 or (i==col) :
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *
*
* *
*   *
*     *
*       *

In [4]:
n=5
for i in range(1,n+1):
    for col in range(1,n+1):
        if  col==1 or (i==col) or col==n:
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

*       *
* *     *
*   *   *
*     * *
*       *

In [9]:
n=5
for i in range(1,n+1):
    for col in range(1,n+1):
        if  col==1 or i==1 or i==n:
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

for i in range(1,n+1):
    for col in range(1,n+1):
        if  col==n or i==n :
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

* * * * *
*
*
*
* * * * *
        *
        *
        *
        *
* * * * *

In [11]:
n=5
for i in range(1,n+1):
    for col in range(1,n+1):
        if  (i==col) or col == n-i+1 :
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print()

*       *
  *   *
    *
  *   *
*       *

In [13]:
set1={20,22,21,23,23}
print(set1)

{20, 21, 22, 23}