In [ ]:
# Number
no1= 20  # Integer
no2 = 2.5 # float

# String 
str1= 'A' #character
str2 = "this is a line" # single line string
str3 = """ 
Hi Ali,
this is a multiline string
"""
# complex
comp = 2+7j
# boolean
b = True
# list
nos = [20,22,21,34]
# tuple
tup = (20,21,22,33)
# dict
dic = {"no1":21,"no2":23,"no3":24,"no4":20}
# set
set1={20,22,21,23}

In [1]:
# TypeCasting

no1="23"
# type checking
print(type(no1))
no1 = int("23")
print(type(no1))

<class 'str'>
<class 'int'>

In [2]:
no2= 2.5
no2 = int(no2)
type(no2)

int

# float() => to float
# bool() => to boolean
# complex() => to complex
# str() => to string
# ord() => charcter to ASCII 
# list() => to list
# tuple() => to tuple
# dict() => to dictionary
# set() => to set

In [5]:
# <!-- User defined input -->
no1 = int(input("Enter a no"))
print(no1)
print(type(no1))

23
<class 'int'>

In [6]:
no2 = float(input("Enter a number"))
print(no2)

23.0

In [7]:
no3 = complex(input("Enter a number"))
print(no3)

(23+0j)

In [10]:

nos= list(input("Enter numbers"))
print(nos)

['1', '1', ' ', '1', '2', ' ', '1', '3', ' ', '1', '4']

In [11]:
nos = input("enter numbers").split(",")
print(nos)

['12', '13', '14', '15']

TypeError: 'type' object is not iterable